@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Neutral Colors */
  --color-neutral-50: #f5f6f9;
  --color-neutral-100: #e6e9f0;
  --color-neutral-200: #d7dbe6;
  --color-neutral-300: #c9cedd;
  --color-neutral-400: #bac1d4;
  --color-neutral-500: #9ca6c1;
  --color-neutral-600: #818eb0;
  --color-neutral-700: #546286;
  --color-neutral-800: #323b50;
  --color-neutral-900: #11141b;

  /* Primary Colors */
  --color-primary-50: #f4f8ff;
  --color-primary-100: #deeaff;
  --color-primary-200: #bcd6ff;
  --color-primary-300: #9bc1ff;
  --color-primary-400: #7aadff;
  --color-primary-500: #3887da;
  --color-primary-600: #0060fc;
  --color-primary-700: #0045b4;
  --color-primary-800: #00296c;
  --color-primary-900: #000e24;

  /* Secondary Colors */
  --color-secondary-50: #fef4f5;
  --color-secondary-100: #fddfe1;
  --color-secondary-200: #fcc0c3;
  --color-secondary-300: #faa0a5;
  --color-secondary-400: #f88088;
  --color-secondary-500: #f42c38;
  --color-secondary-600: #f00c1a;
  --color-secondary-700: #ab0913;
  --color-secondary-800: #67050b;
  --color-secondary-900: #220204;

  /* Shades Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --spacing-container-sm: 16px; /* 320px */
  --spacing-container-md: 28px; /* 768px */
  --spacing-container-lg: 32px; /* 1152px */
  --spacing-container-xl: 32px; /* 1440px */
  --spacing-container-2xl: 229px; /* 1920px */

  /* Gutters */

  --spacing-gutter-lg: 100px;
  --spacing-gutter-md: 100px;
  --spacing-gutter-sm: 80px;
}

@layer components {
  /* Headings */
  .h1 {
    @apply text-[48px] leading-[58px];
  }
  .h1-small {
    @apply text-[40px] leading-[48px];
  }
  .h2 {
    @apply text-[36px] leading-[44px];
  }
  .h2-small {
    @apply text-[32px] leading-[40px];
  }
  .h3 {
    @apply text-[28px] leading-[34px];
  }
  .h4 {
    @apply text-[24px] leading-[30px];
  }
  .h4-small {
    @apply text-[20px] leading-[24px];
  }
  .h5 {
    @apply text-[18px] leading-[23px];
  }
  .h5-small {
    @apply text-[16px] leading-[19px];
  }

  /* Paragraph */

  .p1{
    @apply text-[18px] leading-[23px]
  }
  .p2{
    @apply text-[16px] leading-[19px]
  }
  .p3{
    @apply text-[14px] leading-[18px]
  }
  .p4{
    @apply text-[12px] leading-[15px]
  }


  /* gaps */

  .mainContainer{
    @apply px-[32px] lg:px-[64px]
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body{
  scroll-behavior: smooth;
}